input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #df0909;
    -webkit-box-shadow: 0 1px 0 0 #df0909;
    box-shadow: 0 1px 0 0 #df0909;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #df0909;
}